/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable scss/at-mixin-pattern */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #222;
  font-family: "Noto Serif", "Noto Serif JP", serif;
  line-height: normal;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

a {
  color: #0069ff;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.ly_header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 19px 0;
}
@media screen and (max-width: 768px) {
  .ly_header {
    padding: 30px 0;
  }
}

.ly_header.ly_header__contact {
  padding: 40px 0;
}
@media screen and (max-width: 768px) {
  .ly_header.ly_header__contact {
    padding: 30px 0;
  }
}

.ly_header.ly_header__bg {
  position: fixed;
  padding: 30px 0;
  background-color: #282f35;
}

.ly_header_inner {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: clamp(15px, 15.625vw + -105px, 120px);
  padding-left: clamp(15px, 15.625vw + -105px, 120px);
}
@media screen and (max-width: 768px) {
  .ly_header_inner {
    padding: 0 15px;
  }
}

.ly_section {
  width: 100vw;
}

.ly_section.ly_section__bgimg {
  background-position: center center;
  background-size: cover;
}

.ly_section.ly_section__bgimg[id="sec_works"] {
  background-image: url("../img/works-bgi@2x.jpg");
}

.ly_section.ly_section__bgimg[id="sec_contact"] {
  background-image: url("../img/contact-bgi@2x.jpg");
}

.ly_cont {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 192px;
  padding-right: clamp(15px, 15.625vw + -105px, 120px);
  padding-left: clamp(15px, 15.625vw + -105px, 120px);
}
@media screen and (max-width: 768px) {
  .ly_cont {
    padding: 100px 15px 95px;
  }
}

.ly_cont::after {
  position: absolute;
  display: block;
  content: attr(data-name);
  opacity: 0.05;
  color: #171717;
  font-weight: bold;
  font-size: 5.625rem;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.ly_cont::after::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .ly_cont::after {
    font-weight: bold;
    font-size: 2.5rem;
  }
}

.ly_cont[data-name="Our Concept"]::after,
.ly_cont[data-name="Our Service"]::after {
  right: 120px;
  bottom: 70px;
}
@media screen and (max-width: 768px) {
  .ly_cont[data-name="Our Concept"]::after,
  .ly_cont[data-name="Our Service"]::after {
    right: 15px;
    bottom: 40px;
  }
}

.ly_cont[data-name="Our Works"]::after,
.ly_cont[data-name="Contact Us"]::after {
  color: #fff;
  left: 120px;
  bottom: 70px;
}
@media screen and (max-width: 768px) {
  .ly_cont[data-name="Our Works"]::after,
  .ly_cont[data-name="Contact Us"]::after {
    left: 15px;
    bottom: 45px;
  }
}

.ly_cont_inner {
  padding-top: clamp(50px, 4.4642857143vw + 15.7142857143px, 80px);
  padding-right: clamp(0px, 14.880952381vw + -114.2857142857px, 100px);
  padding-bottom: clamp(40px, 4.4642857143vw + 5.7142857143px, 70px);
  padding-left: clamp(0px, 14.880952381vw + -114.2857142857px, 100px);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .ly_cont_inner {
    padding: 50px 0 40px;
    margin: 0 auto;
  }
}

.ly_cont_inner.ly_cont_inner__concept {
  padding-top: clamp(50px, 2.9761904762vw + 27.1428571429px, 70px);
}
@media screen and (max-width: 768px) {
  .ly_cont_inner.ly_cont_inner__service,
  .ly_cont_inner.ly_cont_inner__contact {
    padding-top: clamp(50px, 4.4642857143vw + 15.7142857143px, 80px);
  }
}

.ly_cont_full {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.pg_contact .ly_cont {
  padding: 97px 0 80px;
}

.ly_footer {
  width: 100vw;
  padding: 30px 0;
  margin: 0 auto;
}

.bl_headerUtils {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bl_headerUtils h1 {
  font-size: 1px;
  margin: 0;
}

.bl_headerUtils_ttl {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
  white-space: nowrap;
  margin: 0;
}

.bl_headerUtils_ttl::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .bl_headerUtils_ttl {
    font-size: 1.625rem;
  }
}

@media screen and (max-width: 768px) {
  .bl_headerNav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #1b1310;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 768px) {
  .bl_headerNav.is_fade {
    opacity: 1;
    visibility: visible;
  }
}

.bl_headerNav_inner {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .bl_headerNav_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-right: 0;
    margin-bottom: -30px;
  }
}

.bl_headerNav_inner > *:last-child {
  margin-right: 0;
}

.bl_headerNav_inner > li {
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .bl_headerNav_inner > li {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.bl_headerNav_link {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.bl_headerNav_link::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}

.bl_hamburgerBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  .bl_hamburgerBtn {
    position: relative;
    z-index: 3;
    display: block;
    width: 30px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .bl_hamburgerBtn_bar {
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
  }

  .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__top {
    top: 0;
  }

  .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__mid {
    top: 50%;
    transform: translateY(-50%);
  }

  .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__bottom {
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__top {
    transform: translate(5px, 0) rotate(45deg);
  }
}

@media screen and (max-width: 768px) {
  .bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__mid {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__bottom {
    transform: translate(5px, -17px) rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .is_noscroll {
    overflow: hidden;
  }
}

.bl_jumbotron {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bl_jumbotron_slide {
  padding: 0;
  margin: 0;
  list-style: none;
}

.bl_jumbotron_slideItem img {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.bl_jumbotron_inner {
  display: flex;
  margin-left: 120px;
}

.bl_jumbotron_txt {
  position: absolute;
  top: 409px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .bl_jumbotron_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.bl_jumbotron_maincopy {
  z-index: 10;
  margin: 0;
  color: #fff;
  font-size: clamp(37px, 4.9107142857vw + -0.7142857143px, 70px);
  font-weight: bold;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.bl_jumbotron_maincopy::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .bl_jumbotron_maincopy {
    font-size: 2.3125rem;
  }
}

.bl_jumbotron_subcopy {
  color: #fff;
  font-size: clamp(30px, 1.4880952381vw + 18.5714285714px, 40px);
  font-weight: bold;
  letter-spacing: 0.05em;
  white-space: nowrap;
  padding-top: 20px;
  margin: 0;
}

.bl_jumbotron_subcopy::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .bl_jumbotron_subcopy {
    font-size: 1.875rem;
    line-height: 1.666666;
  }

  .bl_jumbotron_subcopy::before {
    display: block;
    margin-top: calc(1 - (1.666666) * 0.5em);
    content: "";
  }

  .bl_jumbotron_subcopy::after {
    display: block;
    margin-bottom: calc(1 - (1.666666) * 0.5em);
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .bl_jumbotron_subcopy {
    padding-top: 50px;
  }
}

.bl_mainVisual {
  position: relative;
  height: 453px;
  width: 100vw;
  background-image: url("../contact/img/contact-page-bgi@2x.jpg");
  background-position: center bottom;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .bl_mainVisual {
    height: 360px;
  }
}

.bl_mainVisual::after {
  display: block;
  content: attr(data-name);
  opacity: 0.05;
  position: absolute;
  left: 48px;
  bottom: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 5.625rem;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .bl_mainVisual::after {
    left: 15px;
  }
}

.bl_mainVisual::after::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .bl_mainVisual::after {
    font-weight: bold;
    font-size: 2.5rem;
  }
}

.el_h2Heading {
  display: inline-block;
  position: relative;
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  .el_h2Heading {
    margin-left: 0;
  }
}

.el_h2Heading > h2 {
  display: inline-block;
  font-size: 3.75rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
  margin: 0 230px 0 0;
}

.el_h2Heading > h2::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .el_h2Heading > h2 {
    font-size: 1.875rem;
    letter-spacing: 0.05em;
  }

  .el_h2Heading > h2::after {
    margin-right: -0.05em;
    content: "";
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .el_h2Heading > h2 {
    margin: 0 121px 0 0;
  }
}

.el_h2Heading::after {
  position: absolute;
  top: 50%;
  right: 0;
  height: 5px;
  width: 200px;
  transform: translateY(-50%);
  content: "";
  background-color: #000;
}
@media screen and (max-width: 768px) {
  .el_h2Heading::after {
    width: 90px;
  }
}

.el_h2Heading.el_h2Heading__works {
  display: flex;
  justify-content: flex-end;
}

.el_h2Heading.el_h2Heading__works > h2 {
  color: #fff;
  letter-spacing: 0.1em;
}

.el_h2Heading.el_h2Heading__works > h2::after {
  margin-right: -0.1em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .el_h2Heading.el_h2Heading__works > h2 {
    margin: 0 130px 0 0;
  }
}

.el_h2Heading.el_h2Heading__works::after {
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .el_h2Heading.el_h2Heading__works::after {
    width: 100px;
  }
}

.el_h2Heading.el_h2Heading__service > h2 {
  letter-spacing: 0.1em;
}

.el_h2Heading.el_h2Heading__service > h2::after {
  margin-right: -0.1em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .el_h2Heading.el_h2Heading__service > h2 {
    margin: 0 130px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .el_h2Heading.el_h2Heading__service::after {
    width: 100px;
  }
}

.el_h2Heading.el_h2Heading__contact {
  display: flex;
  justify-content: flex-end;
}

.el_h2Heading.el_h2Heading__contact > h2 {
  color: #fff;
  letter-spacing: 0.1em;
}

.el_h2Heading.el_h2Heading__contact > h2::after {
  margin-right: -0.1em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .el_h2Heading.el_h2Heading__contact > h2 {
    margin: 0 130px 0 0;
  }
}

.el_h2Heading.el_h2Heading__contact::after {
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .el_h2Heading.el_h2Heading__contact::after {
    width: 100px;
  }
}

.el_pageTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.75rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .el_pageTitle {
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.el_pageTitle::after {
  margin-right: -0.1em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .el_pageTitle {
    font-size: 1.875rem;
  }
}

.el_msg {
  text-align: center;
  font-weight: bold;
  font-size: clamp(20px, 1.4880952381vw + 8.5714285714px, 30px);
  letter-spacing: 0.05em;
  line-height: 1.666666;
  margin: 0 0 60px;
}

.el_msg::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}

.el_msg::before {
  display: block;
  margin-top: calc(1 - (1.666666) * 0.5em);
  content: "";
}

.el_msg::after {
  display: block;
  margin-bottom: calc(1 - (1.666666) * 0.5em);
  content: "";
}
@media screen and (max-width: 768px) {
  .el_msg {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .el_msg::before {
    display: block;
    margin-top: calc(1 - (1.5) * 0.5em);
    content: "";
  }

  .el_msg::after {
    display: block;
    margin-bottom: calc(1 - (1.5) * 0.5em);
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .el_msg {
    margin: 0 0 30px;
  }
}

.el_msg::before {
  margin-top: -3px;
}
@media screen and (max-width: 768px) {
  .el_msg::before {
    margin-top: 0;
  }
}

.el_msg::after {
  margin-bottom: -3px;
}
@media screen and (max-width: 768px) {
  .el_msg::after {
    margin-bottom: 0;
  }
}

.bl_media {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .bl_media {
    display: block;
  }
}

.bl_media_body {
  width: 44%;
  margin-right: 12%;
}
@media screen and (max-width: 768px) {
  .bl_media_body {
    width: 100%;
  }
}

.bl_media_txt {
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.875;
  margin: 0;
}

.bl_media_txt::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}

.bl_media_txt::before {
  display: block;
  margin-top: calc(1 - (1.875) * 0.5em);
  content: "";
}

.bl_media_txt::after {
  display: block;
  margin-bottom: calc(1 - (1.875) * 0.5em);
  content: "";
}
@media screen and (max-width: 768px) {
  .bl_media_txt {
    margin-bottom: 30px;
  }
}

.bl_media_txt::before {
  margin-top: -3px;
}

.bl_media_txt::after {
  margin-bottom: -3px;
}

.bl_media_imgWrapper {
  width: 44%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .bl_media_imgWrapper {
    width: 100%;
  }
}

.bl_media_imgWrapper > img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .bl_media_imgWrapper > img {
    aspect-ratio: 345/150;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center bottom;
    object-position: center bottom;
  }
}

.bl_card {
  box-shadow: 0 0 6px #000;
  background-color: #fff;
}

.bl_card_imgWrapper {
  margin: 0;
}

.bl_card_imgWrapper > img {
  width: 100%;
}

.bl_card_body {
  min-height: 134px;
  padding: 25px 20px;
}

.bl_card_txt {
  letter-spacing: 0.05em;
  line-height: 1.875;
  margin: 0;
}

.bl_card_txt::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}

.bl_card_txt::before {
  display: block;
  margin-top: calc(1 - (1.875) * 0.5em);
  content: "";
}

.bl_card_txt::after {
  display: block;
  margin-bottom: calc(1 - (1.875) * 0.5em);
  content: "";
}

.bl_card_txt::before {
  margin-top: -3.5px;
}

.bl_card_txt::after {
  margin-bottom: -3.5px;
}

.bl_cardUnit__col3 > .bl_card {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .bl_cardUnit__col3 > .bl_card {
    width: 92.753623%;
    margin-right: auto !important;
    margin-left: auto;
  }
}

.bl_cardUnit__col3 > .bl_card:nth-of-type(3n) {
  margin-right: 0;
}

.bl_cardUnit {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.el_roundedBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  height: 59px;
  width: 235px;
  background-color: #f7d43f;
  box-shadow: 0 0 6px #1b1310;
  border-radius: 29.5px;
  border: none;
  cursor: pointer;
  color: #171717;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.el_roundedBtn::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}

.bl_imgLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .bl_imgLinks {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .bl_imgLinks {
    margin-bottom: -30px;
  }
}

.bl_imgLinks_img {
  flex: 1;
  background-position: center center;
  background-size: cover;
  aspect-ratio: 3/2;
}
@media screen and (max-width: 768px) {
  .bl_imgLinks_img {
    margin-bottom: 30px;
  }
}

.bl_imgLinks_img.bl_imgLinks_img__hearing {
  background-image: url("../img/service-img01@2x.jpg");
}

.bl_imgLinks_img.bl_imgLinks_img__planning {
  background-image: url("../img/service-img02@2x.jpg");
}

.bl_imgLinks_img.bl_imgLinks_img__direction {
  background-image: url("../img/sevice-img03@2x.jpg");
}

.bl_imgLinks_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
}

.bl_imgLinks_link::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .bl_imgLinks_link {
    font-size: 1.25rem;
  }
}

.bl_imgLinks_link:hover,
.bl_imgLinks_link:focus {
  background-color: rgb(40 47 53 / 70%);
}

.bl_imgLinks_gray {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgb(23 23 23 / 30%);
}

.bl_cta_txt {
  margin-top: 0;
  margin-bottom: 45px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.45;
}
@media screen and (max-width: 768px) {
  .bl_cta_txt {
    margin-bottom: 35px;
  }
}

.bl_cta_txt::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}

.bl_cta_txt::before {
  display: block;
  margin-top: calc(1 - (1.45) * 0.5em);
  content: "";
}

.bl_cta_txt::after {
  display: block;
  margin-bottom: calc(1 - (1.45) * 0.5em);
  content: "";
}

.el_copyRight {
  margin: 0;
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.el_copyRight::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}

.bl_contactForm {
  max-width: 730px;
  padding: 0 15px;
  margin: 0 auto;
}

.bl_contactForm_inner {
  margin-bottom: 80px;
}

.bl_contactForm_item {
  margin-bottom: 22px;
  border: none;
}

.bl_contactForm_item input[type="text"],
.bl_contactForm_item input[type="tel"],
.bl_contactForm_item input[type="email"],
.bl_contactForm_item textarea {
  width: 100%;
  border: 1px solid #141414;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bl_contactForm_item input[type="text"],
.bl_contactForm_item input[type="tel"],
.bl_contactForm_item input[type="email"] {
  height: 30px;
}

.bl_contactForm_item textarea {
  display: block;
  height: 171px;
}

.bl_contactForm_ttl {
  display: block;
  white-space: nowrap;
  letter-spacing: 0.05em;
  margin: 0 0 4px;
}

.bl_contactForm_ttl::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}
@media screen and (max-width: 768px) {
  .bl_contactForm_ttl {
    margin: 0 0 12px;
  }
}

.bl_contactForm_ttl.bl_contactForm_ttl__smsp {
  margin-bottom: 2px;
}

.bl_checkboxUnit {
  display: flex;
}
@media screen and (max-width: 768px) {
  .bl_checkboxUnit {
    flex-direction: column;
    margin-bottom: -4px;
  }
}

.bl_checkbox {
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .bl_checkbox {
    margin-bottom: 4px;
  }
}

.bl_checkbox input[type="checkbox"] {
  position: relative;
  height: 10px;
  width: 10px;
  margin: 0 10px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bl_checkbox input[type="checkbox"]::before {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  content: "";
  box-sizing: border-box;
  border: 1px solid #141414;
}

.bl_checkbox input[type="checkbox"]::after {
  position: absolute;
  display: inline-block;
  content: "\f00c";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 0.5rem;
  opacity: 0;
}

.bl_checkbox input[type="checkbox"]:checked::after {
  opacity: 1;
}

.bl_checkbox label {
  margin-right: 20px;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.bl_checkbox label::after {
  margin-right: -0.05em;
  content: "";
  display: block;
}

.lg_only {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .lg_only {
    display: none !important;
  }
}

.md_only {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .md_only {
    display: block !important;
  }
}
