// ------------------------------------------------
//    ファイル名：_variables.scss
//    機能：変数を記述する
// ------------------------------------------------

// ブレークポイント
$breakpoints: (
  lg: 1440px,
  md: 768px,
) !default;
